:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /*Font family */
  --font-fa1: "Montserrat";
  --font-fa2: "Fraunces";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
}
.perfume-card {
  margin: rem 0.5rem;
  width: 90%;
  border-radius: 1rem;
}
.desktop-chanel {
  display: none;
}
img {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.perfume-info {
  padding: 1rem;
  background-color: var(--white);
}
.small-shade {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
  color: var(--grayish-blue);
  font-family: var(--font-fa1), monospace;
}
h1 {
  font-family: var(--font-fa2), sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.chanel-info {
  font-family: var(--font-fa1);
  font-weight: 500;
  color: var(--grayish-blue);
}
.discounted {
  color: var(--dark-cyan);
  font-size: 2.2rem;
  font-family: var(--font-fa2);
}
.real-price {
  padding-left: 1rem;
  font-family: var(--font-fa1);
  text-decoration: line-through;
  font-weight: 500;
  color: var(--grayish-blue);
}
button {
  width: 15rem;
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 0.4rem;
  color: var(--white);
  font-size: 1rem;
  font-family: var(--font-fa1);
  font-weight: 600;
  padding: 0.8rem;
}
span.material-symbols-outlined {
  color: var(--white);
  margin-right: 0.5rem;
  font-size: 16px;
}

@media (min-width: 375px) {
  button {
    width: 18rem;
  }
}
@media (min-width: 425px) {
  .perfume-brandname {
    font-size: 2.3rem;
  }
  .chanel-info {
    font-size: 0.9rem;
  }
  button {
    width: 21rem;
  }
}
@media (min-width: 768px) {
  img {
    width: 50%;
    margin: 3rem 0 0 10rem;
  }
  .perfume-info {
    width: 50%;
    margin-left: 10rem;
  }
  button {
    width: 19rem;
  }
}
@media (min-width: 1024px) {
  img {
    margin: 10rem 0 0 15rem;
  }
  .perfume-info {
    margin-left: 15rem;
  }
  button {
    width: 26rem;
  }
}
@media (min-width: 1440px) {
  .mobile-chanel {
    display: none;
  }
  .perfume-card {
    display: flex;
    width: 80%;
    margin-right: 17rem;
    height: 45rem;
    margin-top: 13.2rem;
  }
  .desktop-chanel {
    display: block;
    object-fit: cover;
  }
  .perfume-brandname {
    font-size: 2.8rem;
  }
  .chanel-info {
    font-size: 1.8rem;
  }
  button {
    margin-top: 2rem;
    height: 4rem;
  }
  .perfume-info {
    margin-left: 0px;
    margin-top: 10rem;
  }
}
